<div class="row">
    <div class="col-2">
        <product-filter [category] ="category" ></product-filter>
        
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col" style="width: 15px;">
                   <product-card [showProductQuantity]="true" class="" [product]="p" [shopping-cart]="cart"></product-card>
                </div>
                <div *ngIf="(i+1)%4 === 0" class="w-100"></div>
            </ng-container>
            <div class="col" *ngIf="((quantity%4) === 1) || ((quantity%4) === 2) || ((quantity%4) === 3)" style="width: 15px;"></div>
            <div class="col" *ngIf="((quantity%4) === 1) || ((quantity%4) === 2)" style="width: 15px;"></div>
            <div class="col" *ngIf="(quantity%4 === 1)" style="width: 15px;"></div>
        </div>
    </div>
</div>
